<div style="text-align: center;">
	<img src="duet3d_logo.png" alt="duet3d_logo" height="42" width="42">
	<a id="duet_link" target="_blank" title="Duet" rel="noopener noreferrer"  href="">Duet</a>
	<img src="duet3d_logo.png" alt="duet3d_logo" height="42" width="42">
</div>