<h3>Duet</h3>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">API URL</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.duet.apiUrl">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.duet.password">
        </div>
    </div>
</form>